@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Quicksand:wght@500&family=Roboto:wght@500&display=swap');



*{
    margin: 0;
}


body{
    background-color: #EBF3E8;
    margin: 0;
}



.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    margin-top:0px;
    width: 100%;
    height: 65vh;
    background-color: #EBF3E8;
    

}


.circle-container{
    width: 400px;
    height: 400px;
    background-color: #B2C8BA;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    border-style: dotted;
    border: red;
    

}

.semi-circle{
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semi-circle:nth-child(1){
    background-color: #86A789;
    z-index: 2;
}

.semi-circle:nth-child(2){
    background-color: #86A789;  
    z-index: 3;
}

.semi-circle:nth-child(3){
    background-color: #B2C8BA;
    z-index: 4;
    
}

.outermost-circle{
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: #D2E3C8;
    z-index: 5;
}


.timer-container{
    width: 330px;
    height: 200px;
    z-index: 6;
    color: #86A789;
    font-family: Dosis;
}

.timer{
    width: 400px;
    height: 100px;
    z-index: 7;
}

.timer div{
    font-size: 70px;
    font-weight: 100;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.timer .colon{
    background-color: transparent;
    width : 10px;
    margin-left: 0; 
    margin-left: 0;
    padding-bottom: 15px;
}



#start_button , #restart_button
{
    font-size: 24px;
    padding: 10px 25px ;
    font-family: Quicksand;
    font-weight: 700;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #86A789;
    color: #86A789 ;
    background-color: #EBF3E8;
    margin: 0 10px;
}




#panel
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}



header {
    padding: 15px;
    margin-top: 0px; /* Add padding as needed */
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #EBF3E8;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    margin-left: 30px;
    align-items: center;
}

#logo i {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px; /* Adjust margin as needed */
    padding-right: 15px ;
}

nav a {
    text-decoration: none;
    color: #EBF3E8; /* Text color for the links */
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline; /* Add underline on hover */
}



footer {
    background-color: #333; /* Background color for the footer */
    padding: 10px; /* Add padding as needed */
    text-align: center; /* Center the links */
    justify-content: space-between;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #EBF3E8; /* Text color for the links */
    font-size: 32px;
    font-family: Dosis;
    margin: 0 20px; /* Adjust margin as needed */
}

/* Add icons to the links using a CSS class or background-image property */
footer a::before {
    display: inline-block;
    margin-right: 5px; /* Add space between icon and text */
}




.timer-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.timer-settings label {
    font-size: 20px;
    margin-right: 10px;
    font-family: Quicksand;
    font-weight: 700;
    padding-left: 2%;
    color: #333;
}

.timer-settings input {
    font-size: 18px;
    padding: 5px;
    width: 75px;
    text-align: center;
    font-family: Roboto;
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #86A789; /* Add a border for visibility */
}